.title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #4d7653;
    color: white;
    margin-bottom: 20px;
}