/* CSS의 Before, After 활용 */
/* 특정 엘리먼트의 앞과 뒤에 텍스트 혹은 이미지 혹은 스타일을 지정하는 것 */

/* 1 */
/*
<div>abcd</div>
=> :Before abcd :After
*/

/*
<p>
    <span>:Before</span>
    abcd
    <span>:After</span>
</p>
=> :Before abcd :After
*/

div::before {
    content: ":Before";
}

div::after {
    content: ":After";
}

/* 2 */
/* url 이미지는 width, height 적용이 되지 않음 */
div::before {
    content: url();
    /* 넓이를 300px로 적용하려고 하여도 before, after에서는 적용이 되지 않음 */
    width: 300px;
}

div::after {
    content: url();
}

/* 3 */
/* ul에서 li 갯수만큼 숫자 넣기 */

/*
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
*/

/* 기준 설정 */
ul {
    counter-reset: li;
}

/* li에 숫자를 넣기 => 1, 2, 3 ... */
/* ul 기준으로 숫자 자동 삽입 */
/* counter(li)의 앞과 뒤에 문자 삽입 가능 */
ul il::before {
    content: counter(li) "-";
    counter-increment: li;
}

/* 4 */
/* Before, After의 content에 문자는 넣을 수 있지만 요소(<div></div> 등)은 넣을 수 없음 */